footer
    p Developed by #[a(href='http://mackmmiller.com') Mackenzie Miller]
    ul.footer-ul
        li
            a(href="#") #[i(class="fab fa-github fa-lg")]
        li
            a(href="#") #[i(class="fab fa-linkedin-in fa-lg")]
        li
            a(href="#") #[i(class="fab fa-free-code-camp fa-lg")]