footer
    p Developed by #[a(href='http://mackmmiller.com') <strong>Mackenzie Miller</strong>]
    ul.footer-ul
        li
            a(href="https://github.com/mackmmiller/nightlife-app") #[i(class="fab fa-github fa-lg")]
        li
            a(href="https://www.linkedin.com/in/miller-mackenzie/") #[i(class="fab fa-linkedin-in fa-lg")]
        li
            a(href="https://www.freecodecamp.org/mackmmiller") #[i(class="fab fa-free-code-camp fa-lg")]