extends layout

block content
  main
    h1.center Nightout
    h2.center Find out who's going where tonight
    form.search-bar.center(method='POST' action='')
      input(type="text" placeholder="Enter your location" name='location')
      input(type="submit")