/* Registration/Login Page Styling */
.user-form {
  display: flex;
  flex-flow: column nowrap;
  width: 40%;
  margin: auto;
}

.form-group {
  padding: 10px;
  display: flex;
  flex-flow: column nowrap;
}

.submit-form {
  width: 50%;
  margin: auto;
}

.center {
  text-align: center;
}

.auth-options {
  padding: 0;
  list-style: none;
  width: 50%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border: 1px solid black;
  li {
    justify-content: center;
    text-align: center;
    padding: 10px 16px;
  }
}
