// Colors
$dark-green: #034732;
$light-green: #008148;
$acid-green: #c6c013;
$orange: #ef8a17;
$red: #ef2917;
$white: #fdfdfd;

/* Set Up */
html,
body {
  padding: 0;
  margin: 0;
  background: $white;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* Link styles */
a {
  color: $white;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
    color: $dark-green;
  }
}

/* Main Styling */
main {
  flex: 1 0 auto;
  padding: 20px 40px;
}

.businesses-ul {
  list-style: none;
  li {
    display: flex;
    align-items: center;
    .business-image {
      height: 100px;
      margin-right: 20px;
    }
    .business {
      font-size: 20px;
      margin-right: 20px;
    }
    .description {
      margin-right: 20px;
    }
    .attending {
      margin-right: 20px;
    }
    .number {
      margin-right: auto;
    }
  }
}

/* Nav Styling */
nav {
  background: $light-green;
  padding: 0 10px;
  .nav-ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    list-style: none;
    .nav-item {
      padding: 10px 16px;
    }
  }
}

/* Footer Styling */
footer {
  color: $white;
  background: $light-green;
  flex-shrink: 0;
  padding: 20px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  p {
    margin: 0;
  }
  .footer-ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    list-style: none;
    li {
      margin: 5px;
    }
  }
}

@import "register-login";
